*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Red Rose", cursive;
}
body{
    width: 100%;
    height: 100%;
    background-image: url("./assessts/pexels-maxyne-barcel-10402282\ 1.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-top: 10px;
    padding-left: 10px;
}
.list{
    display: flex;
    align-items: center;
    gap: 60px;
    color: #ffc233;
    font-family: "Red Rose";
    font-size: 25px;
    font-weight: 400;
    list-style: none;
    font-style: none;
}
.logo,
.list-item{
    cursor: pointer;
}
.button-small{
  background-color: #ff505f;
  color: white;
  padding: 12px 30px;
  font-family: "Red Rose";
  margin-right: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid black;
}
.hero{
    /* margin-top: 100px;
    margin-left: 10px;
    text-align: center;
    border: 2px solid black; */
    max-width: 1154px;
    margin: 0 auto;
    text-align: center;
    margin-top: 119px;
}
.hero-heading{
    display: inline-block;
    font-family: "Dela Gothic One", cursive;
    color: #ffc233;
    font-size: 80px;
}
.button-large{
    color: white;
  background: #ff505f;
  font-family: "Red Rose";
  align-items: center;
  margin-top: 30px;
  padding: 25px 50px;
  font-size: 30px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.bottom{
    /* border: 2px solid red; */
    display: flex;
    justify-content: end;
    margin-right: 10px;
    
}





